html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #EF6407;
    padding: 10px 20px;
}

    .navbar a {
        color: white;
        text-decoration: none;
        padding: 0 10px;
    }

        .navbar a:hover {
            text-decoration: underline;
        }

.container {
    margin-top: 50px;
}

.card {
    max-width: 400px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: auto; /* Center the card horizontally */
}

.card-header {
    border-radius: 10px 10px 0 0;
    background-color: #EF6407;
    color: white;
    padding: 20px;
    text-align: center;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-control {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.btn {
    background-color: #EF6407;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

    .btn:hover {
        background-color: #e06700;
    }

.shadow {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
