@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <div class="container">
        <img src="~/images/logo.png" alt="Ragnarock Explorer Logo" />
        <h1>Ragnarock Explorer</h1>
        <p>En mere brugervenlig rundvisning til rockmuseet.</p>
        <a href="/Tours" class="btn btn-orange">Se rundvisningen</a>
    </div>
</div>

<div class="container info-section-container">
    <div class="info-section">
        <h2>Enkel Oversigt</h2>
        <p>Hold styr på hvor du er, og lyt på vejen.</p>
    </div>
    <div class="info-section">
        <h2>Øget Effektivitet</h2>
        <p>Automatiser opfølgning og administration af rockmusik.</p>
    </div>
    <div class="info-section">
        <h2>Tilgængelig Overalt</h2>
        <p>Benyt systemet fra enhver enhed, når som helst og hvor som helst.</p>
    </div>
</div>
